body{
    background: url('miss_sushanth.jpg');
    background-repeat: no-repeat;
}
.register-form{
    margin: 15px auto;
    padding: 30px;
    padding-top: 0;
    border-width: 1px;
    border-style: groove;
    max-width: 400px;
    box-shadow:10px 10px 5px #888787;
    opacity: 0.8;
    background-color: rgb(255, 254, 254);
}
.heading
{
    color: blue;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px;
}

legend
{
    font-weight: bold;
    border-radius: 3px;
    border-color: black;
}

fieldset
{
    border-color: rgb(145, 144, 144);
    padding: 10px;
    border-width: 1.5px;
    margin:auto;
    max-width: 500px;
    margin-bottom: 10px;
}


input[type=text]
{
    margin-left: 30px;
    margin-bottom: 5px;
    background-color: unset;
    padding-left: 5PX;
    border-left: none;border-right: none;
    border-top: none;
    border-bottom-color: rgb(15, 15, 14);
    border-width: thin;
    outline: none;
    height: 2rem;
    max-width: 300px;
}


button
{
    
    margin-top: 5px; 
    color: white;
    text-transform: uppercase;
    max-width: 100px;
    height: 35px;
    font-weight: bold;
    border: none;
    background-color: rgb(102, 117, 161);

}

textarea
{
    margin-left: 30px;
    padding-left: 5px;
    height: 140px;
    word-spacing: 3px;
    text-transform: capitalize;
    max-width: 500px;background-color: unset;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-bottom-color: black;
    resize: none;
    outline: none;
}
